body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}
.span-p{
    color: orange;
}
.first h1{
    font-size: 50px;
}
.top-header{
    display: flex;
    background-repeat: no-repeat;
    background-image: url(image/top-banner.png);
    
}
.first{
    width: 50%;
    padding: 0 115px;
    
    
}
.first img{
    width: 100%;
    
}

.first  h3 {
        font-size: 19px;
      }
    
.first  p {
        color: gray;
        margin: 2px;
        padding-bottom: 29px;
    }
    .anker{
        text-decoration: none;
        color: #f5e9e9;
        background-image: linear-gradient(orange,red);
        font-size: 14px;
        padding: 5px;
        border-radius: 8px;
        text-align: center;
        display: block;
        width: 85px;
       }
       .top-header1{
        display: flex;
        padding-bottom: 20px;
        background-image: url(image/dream-bg.png);
        background-repeat: no-repeat;
        background-position: right;
        padding-top: 113px;
        
    
       }
       .top-header1 a{
        width: 205px;
        padding: 5px;
        color: white;
        font-weight: bold;
        background-image: radial-gradient(orange,red);
        text-decoration: none;
        display: block;
        text-align: center;
        border-radius: 10px;
    }
    .top-header1 img {
        padding: 0px 105px;
    }
  